.quick-drink-card {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: @--border-radius-m;
  background: #ffffff;
  box-shadow: 0 4px 16px #e0e0e0;
  gap: 1rem;
  width: 100%;
}
